
@media (max-width: 1050px){
    .check-list__title{
        h1{
            font-size: 2.5em;
        }
    }
}
@media (max-width: 950px){
    .check-list__img{
        margin-left: 0;
    }
}
@media (max-width: 875px){
    .check-list__title{
        h1{
            font-size: 2em;
        }
    }
    .check-list__img img{
        max-width: 100%;
    }
}
@media (max-width: 700px){
    .check-list__box{
        justify-content: flex-end;
    }
    .check-list__img img{
        display: none;
    }
}