@import '_global';



body{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.check-list{
    padding-bottom: 100px;
    &__box{
        display: flex;
        flex-direction: row-reverse;
        
    }
    &__img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 120px;
        
    }
    &__title{
        color: #a58485;
        text-align: center;
        font-family: 'Pattaya', sans-serif;
        h1{
            font-size: 3em;
        }
    }
    &__needed{
        padding: 0px 20px;
        label{
            margin-bottom: 20px;
            display: block;
        }
        .check-box{
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            padding-left: 25px;

            &:checked + .check-style::before{
                content: '';
                width: 8px;
                height: 8px;
                background-color: #e8b3a9;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            
        }
        .check-box:focus + .check-style{
            box-shadow: 0 0 0 2px solid #000;
        }
        .check-style{
            position: absolute;
            width: 16px;
            height: 16px;
            border: 2px solid #e8b3a9;
            border-radius: 50%;
            margin-left: -25px;
        }
    }
}


@import 'media';
